version: '3.7'

services:

  mt:
    build: .
    command: uvicorn main:app --reload --host 0.0.0.0 --port 8000 --log-config logging.yml
    restart: unless-stopped
    #runtime: nvidia  # Comment out in local
    ports:
      - 8001:8000
    volumes:
      - .:/app
      - ../translation-models:/app/models
    environment:
      - MT_API_CONFIG=/app/config.json
      - MT_API_DEVICE=cpu #or gpu, if so make runtime:nvidia
      - MT_API_THREADS=16
      - MODELS_ROOT=/app/models
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all

