fastapi==0.73.0
uvicorn==0.17.4
subword_nmt==0.3.8
ctranslate2==2.12.0
sacremoses==0.0.47
nltk==3.7
sentencepiece==0.1.96
torch==1.7.1
torchvision==0.8.2
transformers==4.16.2
celery==5.1.2
redis==3.5.3
watchgod==0.7
gunicorn==20.1.0
